/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}


/* Webapp laout */
body {

    background: linear-gradient(
        to bottom,
        #009688 20%,
        #d9dbd4 20% 
      );

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width:80vw;
}

.chat_container,
.current_chat_container {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    height: 90vh;
    overflow-y: auto;
    
}

.chat_container {
    flex: 1;
    width:35%;
}

.current_chat_container {
    flex: 2;
    width: 65%;
}

/* Media Query sotto i 1300px */
@media screen and (max-width: 1100px) {
    .container {
        width:100vw;
    }

}
